<div class="container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 mainpage">
      <h1>Archive : Search</h1>

  	  <form class="searchForm" role="form" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
  	  	<div class="row justify-content-center">
          <div class="col-md-6">
            <div class="form-group row">
              <mat-form-field class="search-full-width">
                <mat-label>Title</mat-label>
                <input type="text" aria-label="Number" matInput formControlName="title" id="title" class="form-control" (focus)="onFocus('title')">
              </mat-form-field>
            </div>
            <div class="form-group row">
              <mat-form-field class="search-full-width">
                <mat-label>Author</mat-label>
                <input type="text" aria-label="Author" matInput formControlName="authornames" [matAutocomplete]="autoAuthor" id="authornames" class="form-control" (focus)="onFocus('authornames')">
                <mat-autocomplete #autoAuthor="matAutocomplete">
                  <mat-option *ngFor="let author of filteredAuthorOptions | async" [value]="author.author">
                    {{ author.author }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="form-group row">
              <mat-form-field class="search-full-width">
                <mat-label>Feature</mat-label>
                <input type="text" aria-label="Number" list="features" matInput formControlName="feature" id="feature" class="form-control" (focus)="onFocus('feature')">
                <datalist id="features">
                  <option *ngFor="let feature of features" value="{{ feature }}"></option>
                </datalist>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <mat-form-field class="search-full-width">
                <mat-label>Series</mat-label>
                <input type="text" aria-label="Number" matInput formControlName="series" id="series" class="form-control" (focus)="onFocus('series')">
              </mat-form-field>
            </div>
            <div class="form-group row">
              <mat-form-field class="search-full-width">
                <mat-label>Word</mat-label>
                <input type="text" aria-label="Number" matInput formControlName="fulltext" id="fulltext" class="form-control" (focus)="onFocus('fulltext')">
              </mat-form-field>
            </div>
            <div class="form-group row">
              <mat-form-field class="search-full-width">
                <mat-label>Period</mat-label>
                <input type="text" placeholder="(Year1-Year2)" aria-label="Number" matInput formControlName="year" id="year" class="form-control">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row justify-content-center mt-5">
              <div class="col-md-4">
                <input name="submit" id="submit" class="form-control" type="submit" value="Search">
              </div>
              <div class="col-md-4">
                <input name="reset" id="reset" class="form-control" type="reset" value="Reset">
              </div>
            </div>
          </div>
        </div>
	    </form>
    </div>
    <div class="col-md"></div>
  </div>
</div>